
numpy>=1.22
pandas
pandarallel
pyarrow
fastparquet

transformers
openai
langchain
langchain-google-genai
google-generativeai

librosa
soundfile
openai-whisper
whisperx
faster-whisper
torch_audiomentations
torchmetrics
torch_lr_finder

editdistance
sentencepiece
num2words

accelerate
numba==0.60.0

matplotlib
plotly

jupyter
tqdm

pyTelegramBotAPI


