### development
black
isort
bandit
mypy
pylint
python-dotenv
icecream

### General
tqdm
pandas
pandarallel
numpy
matplotlib
jupyter
pyarrow
fastparquet
plotly


### Audio
setuptools
setuptools-rust
librosa
soundfile

### Torch and Machine Learning
transformers
torch_lr_finder
torch_audiomentations
torchmetrics
openai
langchain
openai-whisper
whisperx
faster-whisper
accelerate
editdistance
num2words
sentencepiece
protobuf

### Youtube
scrapetube
yt-dlp
youtube-transcript-api
pytube
pydub

### Telegram
pyTelegramBotAPI
google-generativeai
langchain-google-genai